{{>head}}
<body>

    <section id="main_outer">
        <section id="main">

            <div id="main_01">
                

                <div id="main_01_sub">
                
                    <p>e-Learning</p>
                    <p>"TO STRIVE, TO <span><br></span> SEEL, <span><br></span>TO LEARN AND NOT <span><br></span>TO TIELD"</p>
                </div>
            </div>
            
            <div id="main_02">
                <div id="main_02_sub">
                    <div id="main_02_sub_01">
                        <div id="main_01_signIn">
                            <form id="main_01_signIn_frm" onSubmit=event.preventDefault()>
                                <p>Sign In</p>
                                <label class="lble" for="type_1" aria-placeholder="Username">Username</label>
                                    <input id="type_1" type="text" placeholder="username" autocomplete="off" required name="username" value="">
                                <label class="lble" for="type_2" aria-placeholder="password">Password</label>
                                    <input id="type_2" type="password" placeholder="password" autocomplete="off" required name="password" value="">
                                <button id="main_01_SignIn_btnn" type="submit">Sign In <i id="arow_btnn" class="fas fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

    <section>
        <div id="e_learn_banner">
            <nav id="e_ban">

                <div id="e_ban_01">
                    <img src="img/college_logo.png" alt="">
                </div>

                <div id="e_ban_02">
                    <h1 style="font-size: 3rem;">K.C.DAS COMMERCE COLLEGE</h1>
                    <div id="div"></div>
                    <h5 style="font-size: 2rem;">e-learn</h5>
                </div>
                
            </nav>
        </div>
    </section>
</body>
</html>

<!-- <script src="./js/sdg.js"></script> -->
<!-- <script>
    let btnn = document.getElementById('main_01_sub_03');
    function ftcDta(){
        let app = new XMLHttpRequest();
        app.open('GET',"http://127.0.0.1:5500/Dta.text",true);
        app.onload = function(){
            if(this.status === 200)   {
                let Dta = this.responseText;
                document.getElementById('main_01').innerHTML = Dta;
                let signin = document.getElementById('main_01_SignIn_btnn');
                signin.addEventListener('click',
                ()=>{
                    alert('You have successfuly registered')
                    location.href='http://www.kcdccollege.ac.in/';
                                                     }
                                                )
            }
            else
                console.log("Error")
        }
        app.send();
    };
    btnn.addEventListener('click',ftcDta);
    
</script> -->
<!-- <script src="./sdg_02.js"></script> -->