{{>head}}
    <section id="main_outer">
        <section id="main">
            <div id="main_01">
                

                <div id="main_01_sub">
                
                    <p>e-Learning</p>
                    <p>"TO STRIVE, TO <span><br></span> SEEL, <span><br></span>TO LEARN AND NOT <span><br></span>TO TIELD"</p>
                    <p>
                        <div id="main_01_sub_03">
                                <div>
                                            <div class="video-btn-icon">
                                                <p id="trioBtnn"></p>
                                            </div>
                                </div>
                                <div>
                                    <p>
                                        <span id="txt_01">START LEARNING</span> <span><br></span><span id="txt_02">Register Now</span>
                                    </p>
                                </div>
                                
                            </div>
                    </p>
                    </div>
            </div>
            <div id="main_02">
                <!-- <img src="./aigirl.png" alt=""> -->
                <div id="main_02_sub">

                </div>
            </div>
        </section>
    </section>

    <section>
        <div id="e_learn_banner">
            <nav id="e_ban">

                <div id="e_ban_01">
                    <img src="img/college_logo.png" alt="">
                </div>

                <div id="e_ban_02">
                    <h1 style="font-size: 3rem;">K.C.DAS COMMERCE COLLEDGE</h1>
                    <div id="div"></div>
                    <h5 style="font-size: 2rem;">e-learn</h5>
                </div>
                
            </nav>
        </div>
    </section>
</body>
</html>

<script src="js/index.js"></script>
<!-- <script src="./sdg_02.js"></script> -->