:root{
    --white:#ffffff;
    --blue:#3B117B;
    --black:#000000;
    --parple:#9716E5;
    --glas_50:#c4c4c49c;
    --glas:#CCCCCC;
    --white_20:#FFFFFF;
    --gradient_blue:linear-gradient(90deg,var(--blue),var(--parple));
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: url(../img/back_03.png) fixed;
}
/* *******************************************************************************************************************************************************************************************8 */
/*              E-LEARN-TOP-BANNER                   */

    #e_learn_banner{
        width: 100vw;
        height: 8rem;
        background: var(--gradient_blue);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
                    #e_learn_banner #e_ban{
                        width: 90vw;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        
                    }
    #e_learn_banner img{
        height: 6.5rem;
    }
    

    
/* #e_ban_01{
} */
    #e_ban_02{
        flex: 1;
        padding-left: 4rem;   
        color: var(--white);        
        font-family: 'Kaushan Script', cursive;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto Mono', monospace;
        text-shadow: 0px 4px 4px rgba(0, 0, 0);
        -webkit-text-stroke: .05px #000;
    }
                #e_ban_02 #div{
                    background: var(--glas);
                    width: 100%;
                    height: 2px;
                    stroke-width: 2 var(--white_20);
                }
/* *******************************************************************************************************************************************************************************************8 */
/*              E-LEARN-TOP-BANNER                   */
#main_outer{
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10rem;
}

#main{
    width: 90vw;
    min-height: 80vh;
    background: var(--glas_50);
    background: linear-gradient(120deg,rgba(255, 255, 255, 0.217),rgba(0, 0, 0, 0.109));
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
        #main_01{
            flex: 1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
                #main_01_sub{
                    width: 90%;
                    height: 80%;
                    color: var(--white);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
                        #main_01_sub > :nth-child(1){
                            font-size: 4rem;
                            text-align: center;
                        }
                        #main_01_sub > :nth-child(2){
                            font-size: 4rem;
                            text-shadow: 0px 4px 4px #000000;
                        }
                        #main_01_sub_03{
                            display: flex;
                            align-items: center;
                            font-size: 3rem;
                            font-family: 'Kaushan Script', cursive;
                            font-family: 'Montserrat', sans-serif;
                            font-family: 'Roboto Mono', monospace;
                            cursor: pointer;
                        }
                        #playBtnn{
                            justify-content: center;
                            align-items: center;
                            width: 10rem;
                            /* margin-right: 3rem; */
                        }
                        #outer_play{
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transform: scale(1);
                            animation: glow 2s infinite ;
                        }
                        .video-btn-icon{
                            margin-right: 3rem;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                                #txt_01{
                                    color: var(--black);
                                    -webkit-text-stroke: 2px black;
                                    font-weight: 900;
                                }
                                #txt_02{
                                    color: var(--parple);
                                    font-family: 'Kanit', sans-serif;
                                    font-family: 'Kaushan Script', cursive;
                                    font-family: 'Lato', sans-serif;
                                    font-family: 'Montserrat', sans-serif;
                                    font-family: 'Roboto Mono', monospace;
                                    -webkit-text-stroke: 0.5px #000;
                                    /* text-shadow: 0px 4px 3px #000000; */
                                }

        #main_02{
            flex: 1;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
                #main_02 #main_02_sub{
                    position: relative;
                    width: 95%;
                    height: 95%;
                    background: url(../img/aigirl.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius:5px 12px 12px 5px ;
                }
                        #main_02_sub_01{
                            position: relative;
                            background: linear-gradient(120deg,rgba(0, 0, 0, 0.217),rgba(0, 0, 0, 0.109));
                            width: 100%;
                            height: 100%;
                        }

#main_01_signIn{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_01_signIn input{
    width: 70%;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 7px;
    outline: none;
    border: none;
    background: var(--white);
}
#main_01_SignIn_btnn{
    
    font-size: 3rem;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    padding: 5px 25px 5px 25px;
    background: var(--gradient_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 20px var(--white);
}
#arow_btnn{
    display: none;
    margin-left: 5px;
    font-weight: 100;
}
#main_01_SignIn_btnn:hover {
    outline: none;
    border: none;
}
#main_01_SignIn_btnn:hover #arow_btnn{
    display: block;
}

#main_01_signIn_frm{
    width: 90%;
    height: 80%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0px 4px 4px var(--black);
}
#main_01_signIn_frm > :nth-child(1){
    color: var(--white);
    /* color: var(--blue); */
    font-size: 5rem;
    text-shadow: 0px 4px 4px var(--black);
}


/* **********
* */
.lble{
    font-size: 3rem;
    color: var(--white);
}
