:root{
    --white:#ffffff;
    --blue:#3B117B;
    --black:#000000;
    --parple:#9716E5;
    --glas_50:#c4c4c49c;
    --glas:#CCCCCC;
    --white_20:#FFFFFF;
    --gradient_blue:linear-gradient(90deg,var(--blue),var(--parple));
}
*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
    width: 62.5%;
    height: 62.5%;
    transition: 2s ease-in-out;
    scroll-behavior: smooth;
}
@media (max-width:998px) { html{
    font-size: 55%;
    width: 55%;
    height: 55%;
    }
    
    }
@media (max-width:836px) {html{
    font-size: 45%;
    width: 45%;
    height: 45%;
    }
    
    }
@media (max-width:768px) { html{
    font-size: 45%;
    
    }}
@media (max-width:280px) {
    html{
    font-size: 30%;
    width: 30%;
    height: 30%;
    }}

/* ************************************************* */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@600&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@600&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Kaushan+Script&family=Lato:wght@100&family=Montserrat:wght@600&family=Roboto+Mono:wght@300&display=swap');
/* ************************************************* */
@media (max-width:625px) {
    body{
        background: url(../img/aigirl.png) fixed;
    }
    #main_02{
        display: none ;
    }
    #main{
        border-radius: 0px 12px 0px 12px;
        background: linear-gradient(120deg,var(--glas_50),rgba(255, 255, 255, 0));
        box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.836);
    }
}
@media (max-width:413px) {
    #e_learn_banner{
        height: 10rem;
    }
    #main_outer{
        margin-top: 12rem;
    }
}
@media (max-width:293px) {
    html{font-size: 40%;   }
}
@media (max-width:260px) {
    html{font-size: 30%;}
}

#trioBtnn::after{
    width: 100%;
    height: 100%;
    border-color: rgba(12, 218, 144, 0.6);
    -webkit-animation: ripple-2 2s infinite ease-in-out;
    animation: ripple-2 2s infinite ease-in-out;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .video-btn-icon::after {
    width: 100%;
    height: 100%;
    border-color: rgba(12, 218, 144, 0.6);
    -webkit-animation: ripple-2 2s infinite ease-in-out;
    animation: ripple-2 2s infinite ease-in-out;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }